    Das ist ein einfacher Text

In [ ]:
Das ist ein easy Text

das ist eine easy text

#Einfacher Text

## Einfacher Text
#### Einfacher Text
1. Aufz채hlung
2. Aufz채hlung
*kursiv*

**fett**

In [1]:
print ("Hello World")

Hello World

In [2]:
input ("Wie alt bist du")

Wie alt bist du44

'44'

NameError: name 'alter' is not defined

In [4]:
4 - 5

-1

4 + 5

In [5]:
4 + 5

9

In [6]:
4**4

256

In [7]:
126-12

114

In [8]:
print ("Wie gross bist du?")

Wie gross bist du?

In [9]:
input ("Wie gross bist du?")

Wie gross bist du?26

'26'

In [10]:
alter = 26

In [12]:
a = 4

In [13]:
4 == a

True

3 < 6

In [14]:
3 < 6

True

In [15]:
3 > 7

False

In [17]:
type ([1,"hallo",3,4,5.23,6,7])

list

In [18]:
a = [1,"hallo",3,4,5.23,6,7]

In [25]:
a[2:6]

[3, 4, 5.23, 6]

In [26]:
a[1::2]

['hallo', 4, 6]

In [27]:
a[5:6]

[6]

In [ ]:
a[]

In [28]:
b=[a[0],a[3]]

In [29]:
b

[1, 4]

In [30]:
#zusatz anh채ngen geht immer
a.append(a[0])

In [31]:
a

[1, 'hallo', 3, 4, 5.23, 6, 7, 1]

In [32]:
#wieder wegnehmen, eher nach position in liste
a.pop()

1

In [33]:
a

[1, 'hallo', 3, 4, 5.23, 6, 7]

In [34]:
a.append ("lalalalalal")

In [35]:
a

[1, 'hallo', 3, 4, 5.23, 6, 7, 'lalalalalal']

In [36]:
#wegnehmen nach begriff
a.remove ("hallo")

In [37]:
a

[1, 3, 4, 5.23, 6, 7, 'lalalalalal']

In [38]:
a.pop(0)

1

In [39]:
a

[3, 4, 5.23, 6, 7, 'lalalalalal']

In [40]:
a.insert(1,"hallo")

In [41]:
a

[3, 'hallo', 4, 5.23, 6, 7, 'lalalalalal']

In [43]:
list(range(0,99))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [44]:
range(0,10)

range(0, 10)

In [45]:
dasistmeineliste = list(range (0,99))

In [46]:
#l채nge der liste angeben
len(a)

7

In [47]:
len(dasistmeineliste)

99

In [48]:
#sortieren
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [49]:
a

[3, 'hallo', 4, 5.23, 6, 7, 'lalalalalal']

In [50]:
a.remove("hallo")

In [51]:
a

[3, 4, 5.23, 6, 7, 'lalalalalal']

In [52]:
a.remove("lalalalalal")

In [53]:
a

[3, 4, 5.23, 6, 7]

In [55]:
sorted(a)

[3, 4, 5.23, 6, 7]

In [56]:
b = sorted(a)

In [57]:
b

[3, 4, 5.23, 6, 7]

In [58]:
a = (4,9,6)

In [59]:
sorted(a)

[4, 6, 9]

In [60]:
a

(4, 9, 6)

In [ ]:
#dictionarys = Art und Weise, wie der Computer Tabellen darstellt alt8 / alt9
{"Animal":"Dog","Size":45,"Height":2312,""}

In [77]:
dic_lst = [{"Animal":"Dog","Size":45},
           {"Animal":"Cat","Size":23},
           {"Animal":"Bird","Size":121212}]

In [78]:
#Loops Liste aus Zahlen komplett verwandeln in String
lst = list(range(100))

In [80]:
zahl = lst[0]

In [81]:
str(zahl)

'0'

In [82]:
#zahl ist wert in der liste
newlst = []
for zahl in lst:
    newlst.append(str(zahl))

In [83]:
newlst

['0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35',
 '36',
 '37',
 '38',
 '39',
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52',
 '53',
 '54',
 '55',
 '56',
 '57',
 '58',
 '59',
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '76',
 '77',
 '78',
 '79',
 '80',
 '81',
 '82',
 '83',
 '84',
 '85',
 '86',
 '87',
 '88',
 '89',
 '90',
 '91',
 '92',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99']