In [1]:
import pandas as pd
%matplotlib inline

In [2]:
path = 'klima/waedenswil/data_waedenswil.xlsx'

In [5]:
df = pd.read_excel(path)

In [6]:
df.head(10)

,Messstation Wädenswil,Unnamed: 1,Unnamed: 2
0,NaN,NaN,NaN
1,Temperatur / Niederschlag Monatswerte homogen,NaN,NaN
2,NaN,NaN,NaN
3,Daten: Bundesamt für Meteorologie und Klimatol...,NaN,NaN
4,NaN,NaN,NaN
5,NaN,NaN,NaN
6,Monat / Jahr,Temperatur °C,Niederschlag mm
7,NaN,Monatsmittel,Monatssumme
8,1961-01-01 00:00:00,//,86.7
9,1961-02-01 00:00:00,//,109.2

In [27]:
df = pd.read_excel(path,skiprows=8)

In [28]:
df.head(20)

   Unnamed: 0 Monatsmittel  Monatssumme
0  1961-01-01           //         86.7
1  1961-02-01           //        109.2
2  1961-03-01           //         56.3
3  1961-04-01           //         96.5
4  1961-05-01           //        187.1
5  1961-06-01           //        107.3
6  1961-07-01           //        179.1
7  1961-08-01           //        137.7
8  1961-09-01           //         45.6
9  1961-10-01           //         64.2
10 1961-11-01           //         46.2
11 1961-12-01           //        173.8
12 1962-01-01           //        153.8
13 1962-02-01           //         98.0
14 1962-03-01           //         88.9
15 1962-04-01           //         94.2
16 1962-05-01           //        208.9
17 1962-06-01           //         49.8
18 1962-07-01           //         95.0
19 1962-08-01           //        103.2

In [13]:
df.shape

(705, 3)

In [14]:
df.dtypes

Unnamed: 0      datetime64[ns]
Monatsmittel            object
Monatssumme            float64
dtype: object

In [15]:
df.set_index('Unnamed: 0', inplace=True)

In [16]:
df.head(2)

           Monatsmittel  Monatssumme
Unnamed: 0
1961-01-01           //         86.7
1961-02-01           //        109.2

NameError: name 'df_loc' is not defined