In [1]:
import camelot
import tabula
import pandas as pd

### Die Dokumentation ist hier

Hier ist die Dokumentation von [Camelot](https://camelot-py.readthedocs.io/en/master/)

### Wir arbeiten mit den Unfällen, die Sandra interessieren

In [2]:
#Kein Resultat 
tables = camelot.read_pdf('https://www.police.be.ch/police/de/index/ueber-uns/kantonspolizei/statistik/Verkehrsstatistik.assetref/dam/documents/POM/Police/de/Statistik/Bericht_110%20ohne%20AB_AS%20Gemeinden-Stand%202018%20%28D%29.pdf', pages = "1") 
tables
#Ansteuern können wir die Tabelle auch mit der url selber:
#https://www.police.be.ch/police/de/index/ueber-uns/kantonspolizei/statistik/Verkehrsstatistik.assetref/dam/documents/POM/Police/de/Statistik/Bericht_110%20ohne%20AB_AS%20Gemeinden-Stand%202018%20%28D%29.pdf

In [3]:
#Kein Resultat
tables = camelot.read_pdf('https://www.police.be.ch/police/de/index/ueber-uns/kantonspolizei/statistik/Verkehrsstatistik.assetref/dam/documents/POM/Police/de/Statistik/Bericht_110%20ohne%20AB_AS%20Gemeinden-Stand%202018%20%28D%29.pdf', flavor='lattice', pages = "1") 
tables

In [4]:
#Resultat, hurrah!
tables = camelot.read_pdf('https://www.police.be.ch/police/de/index/ueber-uns/kantonspolizei/statistik/Verkehrsstatistik.assetref/dam/documents/POM/Police/de/Statistik/Bericht_110%20ohne%20AB_AS%20Gemeinden-Stand%202018%20%28D%29.pdf', flavor='stream', pages = "1") 
tables

In [6]:
#hmm, Aber nur mit einer unvollständigen Tabelle :-/ zugriff auf erste tabelle, da nur eine 
#[0] eingeben und mit df in pandas dataframe unwandeln. df ist ein camelot-befehl, der pandas integriert
tables[0].df

,0,1,2,3,4,5,6,7
0,nach Unfallfolgen und Gemeinde,,,,,,,
1,,,,,,davon,,
2,,,Unfälle mit,,,lebens-,,
3,,Unfälle mit,Personen-,,Schwer-,bedrohlich,erheblich,
4,,Sach-schaden,schaden,Getötete,verletzte,Verletzte¹,Verletzte¹,Leicht-verletzte
5,Total,2 489,2 397,34,506,30,476,2 344
6,Aarberg,26,12,0,2,0,2,15
7,Aarwangen,10,15,0,2,0,2,14
8,Adelboden,8,11,1,3,0,3,9
9,Aefligen,0,0,0,0,0,0,0

In [7]:
#Wir müssen dem Code sagen, wo er überall nachschauen muss. Nämlich auf der ganzen Seite.
#zudem sagen wir gemäss definierten wert, das er auf einer A4 arbeitet
tables_stream = camelot.read_pdf("https://www.police.be.ch/police/de/index/ueber-uns/kantonspolizei/statistik/Verkehrsstatistik.assetref/dam/documents/POM/Police/de/Statistik/Bericht_110%20ohne%20AB_AS%20Gemeinden-Stand%202018%20%28D%29.pdf", flavor='stream', pages='all', table_areas=['0,842,595,0'])

In [8]:
#nun durch alle seiten des pdf durchgehen mit 0,1,2,3 etc.
tables_stream[0].pdf

AttributeError: 'Table' object has no attribute 'pdf'

## Datenbereinigung

In [9]:
# Nun müssen alle Tabelln zusammengeführt werden. Aber wie soll eine einzelne aussehen?
#wir nehmen die dritte seite, da diese meistens standartformatiert ist
test_df = tables_stream[3].df

In [10]:
#alle einträge ab 9 anzeigen, da vorher müll
test_df[9:]

                            0   1   2  3  4  5  6   7
9                  Langenthal  35  46  1  7  0  7  50
10        Langnau im Emmental  17  19  2  2  0  2  17
11                    Lauenen   1   0  0  0  0  0   0
12                     Laupen  12   5  0  0  0  0   6
13                 Lauperswil   4  10  0  2  1  1  13
14              Lauterbrunnen  11   2  0  0  0  0   4
15                  Leissigen   7   3  0  4  1  3   3
16               Lengnau (BE)  11   9  0  1  0  1  12
17                       Lenk   6   2  0  1  0  1   3
18                   Leuzigen   2   0  0  0  0  0   0
19                     Ligerz   0   2  0  1  0  1   1
20                     Linden   2   3  0  1  1  0  15
21                  Lohnstorf   2   0  0  0  0  0   0
22                    Lotzwil   1   4  0  0  0  0   4
23                  Loveresse   1   1  0  0  0  0   2
24                   Lüscherz   1   1  0  0  0  0   1
25                Lütschental   1   3  0  3  0  3   0
26                 Lützelflüh   8   7  0  3  0  3   6
27                       Lyss  30  31  2  5  0  5  33
28                    Lyssach  27  11  1  0  0  0  12
29                   Madiswil  10   7  0  2  0  2   5
30      Matten bei Interlaken  12   6  0  2  0  2   9
31                Mattstetten   1   0  0  0  0  0   0
32                  Meienried   0   0  0  0  0  0   0
33                   Meikirch   5   8  1  4  1  3   7
34                 Meinisberg   2   1  0  0  0  0   1
35                  Meiringen  20  10  0  4  0  4  11
36                   Melchnau   0   3  0  0  0  0   3
37                  Merzligen   0   1  0  0  0  0   1
38                    Mirchel   2   0  0  0  0  0   0
39              Mont-Tramelan   0   1  0  1  0  1   0
40                Moosseedorf  18  16  0  2  0  2  21
41                    Mörigen   2   1  0  0  0  0   1
42                  Mötschwil   1   2  0  0  0  0   2
43                    Moutier  18  13  0  4  0  4  12
44                  Mühleberg   4   4  0  3  0  3   1
45               Mühlethurnen   0   2  0  0  0  0   2
46             Münchenbuchsee  12  24  0  2  0  2  26
47               Münchenwiler   2   1  0  0  0  0   1
48                  Münsingen  20  29  0  8  0  8  23
49               Müntschemier   3   2  0  0  0  0   2
50              Muri bei Bern  21  15  1  3  0  3  12
51                   Neuenegg   9   8  0  1  0  1   8
52                      Nidau  38  25  0  3  0  3  29
53                 Niederbipp  17  18  1  3  0  3  22
54              Niederhünigen   1   2  0  1  0  1   1
55              Niedermuhlern   1   1  0  0  0  0   1
56                  Niederönz   1   1  0  0  0  0   1
57  Niederried bei Interlaken   1   1  0  0  0  0   2
58                       Nods   0   2  0  1  0  1   1

In [11]:
#Ab der 9 Zeile siehts so aus
data = test_df[9:]

In [12]:
#liste mit headers machen
headers = ['Gemeinde', 'Sachschaden', 'Personenschaden', 'Getötete', 
           'Schwerverletzte', 'Lebensbedrohlich Verletzte', 
           'Erheblich Verletzte', 'Leichtverletzte']

In [13]:
data.columns = headers

In [14]:
data.head()

,Gemeinde,Sachschaden,Personenschaden,Getötete,Schwerverletzte,Lebensbedrohlich Verletzte,Erheblich Verletzte,Leichtverletzte
9,Langenthal,35,46,1,7,0,7,50
10,Langnau im Emmental,17,19,2,2,0,2,17
11,Lauenen,1,0,0,0,0,0,0
12,Laupen,12,5,0,0,0,0,6
13,Lauperswil,4,10,0,2,1,1,13

### Und nun hängen wir alls zusammen

In [15]:
#eine leere df bauen
ff = pd.DataFrame()#leeres dataframe kreieren
headers = ['Gemeinde', 'Sachschaden', 'Personenschaden', 'Getötete', 
           'Schwerverletzte', 'Lebensbedrohlich Verletzte', 
           'Erheblich Verletzte', 'Leichtverletzte']

#Und nun durch alles iterieren
#https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
for number in range(0,8):
    temp = tables_stream[number].df #alle seiten
    temp = temp[9:]#schau die oberen 8 nicht an, da dort müll drin ist
    temp.columns = headers#kolumnen definieren
    frames = [ff, temp]#die beiden frames auswählen ff ist die leere liste, temp ist ab zeile langenthal
    ff = pd.concat(frames)

In [16]:
ff.info()
#oder auch ff.describe()
#oder auch ff.dtypes

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347 entries, 9 to 55
Data columns (total 8 columns):
Gemeinde                      347 non-null object
Sachschaden                   347 non-null object
Personenschaden               347 non-null object
Getötete                      347 non-null object
Schwerverletzte               347 non-null object
Lebensbedrohlich Verletzte    347 non-null object
Erheblich Verletzte           347 non-null object
Leichtverletzte               347 non-null object
dtypes: object(8)
memory usage: 24.4+ KB

In [17]:
## Mit leeren Strings umgehen. wenn "" gib 0 zurück, 
#wenn nicht gib die entsprechende zahl in der tabelle (hier definiert als elem) zurück
def clean(elem):
    if elem == "":
        return 0
    else:
        return elem
ff = ff.applymap(clean)

In [18]:
## Die Gemeinden zwischenzeitlich löschen und dann wieder reinnehmen bei der Umwandlung in Zahlen, 
#ff ist das gesamte dataframe(gesamte datebank)
gem = ff['Gemeinde'] #zuerst die spalte abspeichern
del ff['Gemeinde'] #spalte wird gelöscht
ff = ff.astype(int) #dann string umwandeln in int (zahl)
ff['Gemeinde'] = gem #wieder anhängen
ff = ff[['Gemeinde', 'Sachschaden', 'Personenschaden', 'Getötete', 
           'Schwerverletzte', 'Lebensbedrohlich Verletzte', 
           'Erheblich Verletzte', 'Leichtverletzte']].copy() ##Reihenfolge, nur kosmetisch

In [19]:
#index anpassen
ff = ff.reset_index()
del ff['index']

In [20]:
ff

,Gemeinde,Sachschaden,Personenschaden,Getötete,Schwerverletzte,Lebensbedrohlich Verletzte,Erheblich Verletzte,Leichtverletzte
0,Aarberg,26,12,0,2,0,2,15
1,Aarwangen,10,15,0,2,0,2,14
2,Adelboden,8,11,1,3,0,3,9
3,Aefligen,0,0,0,0,0,0,0
4,Aegerten,3,3,0,0,0,0,4
...,...,...,...,...,...,...,...,...
342,Zollikofen,21,15,1,4,0,4,10
343,Zuzwil (BE),0,0,0,0,0,0,0
344,Zweisimmen,6,5,1,1,1,0,4
345,Zwieselberg,1,1,0,1,0,1,0
346,¹ Zahlen für lebensbedrohlich Verletzte und er...,0,0,0,0,0,0,0

In [21]:
ff.sort_values(by='Sachschaden', ascending=False)

,Gemeinde,Sachschaden,Personenschaden,Getötete,Schwerverletzte,Lebensbedrohlich Verletzte,Erheblich Verletzte,Leichtverletzte
23,Bern,353,345,5,69,7,62,333
25,Biel/Bienne,196,201,1,23,1,22,193
292,Thun,129,138,0,26,2,24,135
141,Köniz,78,71,0,11,1,10,64
43,Burgdorf,48,48,2,7,0,7,45
...,...,...,...,...,...,...,...,...
178,Merzligen,0,1,0,0,0,0,1
177,Melchnau,0,3,0,0,0,0,3
160,Ligerz,0,2,0,1,0,1,1
148,Landiswil,0,2,0,0,0,0,3
346,¹ Zahlen für lebensbedrohlich Verletzte und er...,0,0,0,0,0,0,0