# Hausaufgaben Einstieg in Python - Lektion 2

1.Kreiere eine Liste aus Zahlen, die aus 10 Elementen besteht, und ordne sie der Variabel a zu.

In [1]:
type ([20,30,40,50,60,70,80,90,100,110])

list

In [4]:
a = [20,30,40,50,60,70,80,90,100,110]

In [5]:
a

[20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

2.Mache dasselbe mit einer Liste aus 100 Elementen und ordne sie der Variabel b zu.

In [6]:
list (range(0,100))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [7]:
b = list (range (0,100))

In [23]:
len (b)

100

In [8]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

3.Füge beiden Listen folgenden String an: 'ich bin keine Zahl'

In [9]:
a.append ("ich bin keine Zahl")

In [10]:
a

[20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 'ich bin keine Zahl']

In [11]:
b.append ("ich bin keine Zahl")

In [12]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 'ich bin keine Zahl']

4.Lösche diesen letzten Eintrag in der Liste wieder

In [15]:
a.pop (10)

'ich bin keine Zahl'

In [16]:
a

[20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [17]:
b.pop (100)

'ich bin keine Zahl'

In [18]:
b

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

5.Verwandle jede Zahl in den Listen a und b von int in str?

In [21]:
str (a)

'[20, 30, 40, 50, 60, 70, 80, 90, 100, 110]'

In [24]:
str (a[0])

'20'

In [22]:
str (b)

'[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]'

6.Von der list b, zeige nur die letzten zehn Nummern an

In [25]:
b [90:100]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

7.Von der folgenden Liste, zeige den zweit grössten Wert an

In [28]:
b.sort()

In [30]:
sorted (b)[-2]

98

In [31]:
max (b)

99

In [32]:
min (b)

0

8.Multipliziere jede Nummer in dieser Liste, die kleiner ist als 100, mit 100; wenn die Nummern zwischen 100 und 1000 verwandle sie in eine String, und wenn sie grösser oder gleich 1000 ist, lösche sie.

9.Schreibe eine Dictionary-Liste der fünf grössten Schweizer Städte, ihrer Bevölkerung und dem jeweiligen Kanton.

In [2]:
dic_lst = [{"Stadt":"Zürich","Grösse":1000000},
           {"Stadt":"Bern","Grösse":90000},
           {"Stadt":"Basel","Grösse":80000},
           {"Stadt":"Genf","Grösse":70000},
           {"Stadt":"Winterthur","Grösse":60000}]

In [3]:
dic_lst

[{'Stadt': 'Zürich', 'Grösse': 1000000},
 {'Stadt': 'Bern', 'Grösse': 90000},
 {'Stadt': 'Basel', 'Grösse': 80000},
 {'Stadt': 'Genf', 'Grösse': 70000},
 {'Stadt': 'Winterthur', 'Grösse': 60000}]

In [1]:
type(dic_lst)

NameError: name 'dic_lst' is not defined

10.Zeige nur die Bevölkerung der Stadt Genf an

In [35]:
dic_lst[3]["Grösse"]

70000

11.Drucke (print) das Total der Bevölkerungen aller Städte aus

In [51]:
gr = 0
for Stadt in dic_lst:
    gr = gr+Stadt["Grösse"]
    print(gr)

1000000
1090000
1170000
1240000
1300000

In [45]:
print(gr)

1300000

12.Rechne den Anteil der Bevölkerung der jeweiligen Städte an der Gesamtbevölkerung der Schweiz aus und "print" die Ergebnisse neben dem Städtenamen

In [1]:
dic_lst = [{"Land":"Schweiz","Grösse":8000000},
           {"Stadt":"Zürich","Grösse":1000000},
           {"Stadt":"Bern","Grösse":90000},
           {"Stadt":"Basel","Grösse":80000},
           {"Stadt":"Genf","Grösse":70000},
           {"Stadt":"Winterthur","Grösse":60000}]

In [2]:
dic_lst

[{'Land': 'Schweiz', 'Grösse': 8000000},
 {'Stadt': 'Zürich', 'Grösse': 1000000},
 {'Stadt': 'Bern', 'Grösse': 90000},
 {'Stadt': 'Basel', 'Grösse': 80000},
 {'Stadt': 'Genf', 'Grösse': 70000},
 {'Stadt': 'Winterthur', 'Grösse': 60000}]

13.Füge noch die Städte Winterthur und Luzern hinzu

14.Ergänze die Städte-Dictionary-Liste mit Winterthur und Luzern

15.Wiederhole den loop von oben, um den Anteil der Bevölkerung an der Gesamtbevölkerung auszurechnen, dieses Mal mit Winterthur und Luzern